

<div style="font-family: roboto, sans-serif; background-color: rgb(231, 231, 231); width: 90%; max-width: 650px; margin: auto;">
        <div style="background-color: rgb(185, 82, 185); color: white; padding: 20px;">
            <h1 style=" margin: 0; padding: 0;">Monkey-school</h1>
        </div>
        <div style="font-size: 2rem; padding: 10px; padding-top: 20px; font-weight: bold; opacity: 60%;">M. {{nomClient}} {{prenomClient}}</div>
        <h2 style="font-weight: bold; opacity: 60%; font-size: 1.5rem; padding-left: 5px;">Merci pour votre inscription !</h2>
        <p style="font-size: 16px; padding: 10px; opacity: 80%; color: rgb(44, 43, 43); ">Nous nous réjouissons de vous compter parmis notre famille ! vous trouverez ci-joint toutes les infomations concernant vos cours réservés ainsi que celles pour le règlement.</p>
        <div>
            <!-- recap -->
            <div>
                <h3 style="padding-left: 10px; opacity: 60%; text-decoration: underline; font-size: 22px;">Récaptitulatif :</h3>
                <div style="width: 90%; margin: auto; background-color: white;">
                    <div style=" display: flex; background-color:rgb(185, 82, 185); color: white; font-weight: bold;">
                        <div style="width: 30%; padding: 5px;">Eleve :</div>
                        <div style="width: 30%; padding: 5px;">Cours :</div>
                        <div style="width: 30%; padding: 5px;">Prix :</div>
                    </div>
                    {{#each item}}
                        <div style="display: flex;">
                            <p style="width: 30%; padding: 5px; font-size: 16px;">{{eleve.nomEleve}} {{eleve.prenomEleve}} </p>
                            <p style="width: 30%; padding: 5px; font-size: 16px;">{{infoCours.nomCours}}</p>
                            <p style="width: 30%; padding: 5px; font-size: 16px;">CHF. {{infoCours.prixAPaye}}.-</p>
                        </div>         
                    {{/each}}
                </div> 

                <div style="width: 90%; margin: 20px auto;">
                    {{#each item}}
                        {{#if infoCours.dateChoisieString}}                        
                            <div style="font-weight: bold; opacity: 60%; text-decoration: underline; font-size: 14px; padding-bottom: 5px;">DATE : </div>
                            <div style="padding: 10px 20px; font-size: 18px; font-weight: 400; opacity: 60%;">{{eleve.nomEleve}} {{eleve.prenomEleve}} : 
                                <span style="font-size: 14px; font-style: italic;">
                                    {{#each infoCours.dateChoisieString}}
                                        {{this}} //
                                    {{/each}}
                                </span>
                            </div>
                        {{/if}}            
                    {{/each}}
                </div>              
            </div>

            <p style="font-size: 16px; font-size: 25px; width: 90%; margin: 30px  auto; font-weight: 500; text-align: center; opacity: 60%; text-decoration: underline 3px rgb(172, 103, 172);" >Montant Total : CHF. <span style="font-size: 30px;">{{totalPrice}}</span>.-</p>

            <!-- INFO PAIEMENT -->

            {{!-- virement --}}
            {{#if paiementVirement}}
                <div style="margin-top: 50px;">
                    <h3 style="padding-left: 10px; opacity: 60%; text-decoration: underline; font-size: 22px;">Virement bancaire :</h3>
                    <p style="font-size: 16px; margin: 0 15px ; padding: 20px 10px; font-size: 14px; background-color: white;" ><span style="color: rgb(187, 41, 41); font-weight: 500;">! IMPORTANT :</span> Pour les virements bancaire veuillez indiquer le nom et prénom de l'élève, ainsi que le cours dans le message.</p>
                    <p style="font-size: 16px; padding: 10px; padding: 30px 20px; opacity: 60%; line-height: 1.4;"> IBAN : CH 04 8080 8006 7944 3108 9 <br> SWIFT : RAIFCH22 <br> Banque : Raiffeisen des communes du haut-plateuu <br>Nom : Bonvin<br> Prénom : Cédric <br>Addresse : Rue Saint-michel 25 <br>Npa / Ville : 1966 Ayent</p>
                </div>
            {{/if}}
            {{!-- cash --}}
            {{#if paiementCash}}
                <div style="margin-top: 50px;">
                        <h3 style="padding-left: 10px; opacity: 60%; text-decoration: underline; font-size: 22px;">Paiement cash:</h3>
                        <p style="font-size: 16px; margin: 0 15px ; padding: 20px 10px; font-size: 14px; background-color: white;" ><span style="color: rgb(187, 41, 41); font-weight: 500;">! IMPORTANT :</span> Pour les paiements par cash, Veuillez noter que le paiement doit se faire impérativement avant le début du cours ! </p>

                </div>
            {{/if}}

             {{!-- carte --}}
            {{#if paiementCarte}}
                <div style="margin-top: 50px;">
                        <h3 style="padding-left: 10px; opacity: 60%; text-decoration: underline; font-size: 22px;">Paiement carte:</h3>
                        <p style="font-size: 16px; font-size: 25px; width: 90%; margin: 30px  auto; font-weight: 500; text-align: center; opacity: 60%; text-decoration: underline 3px rgb(172, 103, 172);">Solde : CHF. <span style="font-size: 30px;">0</span>.-</p>
                </div>
            {{/if}}

        </div>
        <div style="background-color: rgb(37, 37, 37); color: white; padding: 20px; margin-top: 20px;">
            <div style="text-align: center;">Monkey-School <br> Route de la Moubra 73 <br> 3963 Crans-Montana <br> tél.: +41 79.519.04.84 <br> E-mail : info@monkey-school.ch</div>
        </div>
    </div>




 <style>
       /* body, h1{
            margin: 0;
            padding: 0;
        } 
        p{
            font-size: 16px;
        } 
        .page{
            font-family: roboto, sans-serif;
            background-color: rgb(231, 231, 231);
            width: 90%;
            max-width: 650px;
            margin: auto;
        } 
       
        .header{
            background-color: rgb(185, 82, 185);
            color: white;
            padding: 20px;
        }
        .footer{
            background-color: rgb(37, 37, 37);
            color: white;
            padding: 20px;
            margin-top: 20px;
        }  
        h2{
            font-weight: bold;
            opacity: 60%;
            font-size: 1.5rem;
            padding-left: 5px;
        } 
        h3{
            padding-left: 10px;
            opacity: 60%;
            text-decoration: underline;
            font-size: 22px;
        } 
        .boxRecap{
            width: 90%;
            margin: auto;
            background-color: white;
        } 
        .headerRecap{
            display: flex;
            background-color:rgb(185, 82, 185);
            color: white;
            font-weight: bold;
        } 
        .bodyRecap{
            display: flex;
        }      
        .col{
            width: 30%;
            padding: 5px;
        } 
        .adresse{
            text-align: center;
        } 
        .monsieur{
            font-size: 2rem;
            padding: 10px;
            padding-top: 20px;
            font-weight: bold;
            opacity: 60%;
        } 
        .paraIntro {
            padding: 10px;
            opacity: 80%;
            color: rgb(44, 43, 43);
        } 
        .containerPaiment{
            margin-top: 50px;
        } 
        .paraPaiement{
            padding: 10px;
            padding: 30px 20px;
            opacity: 60%;
            line-height: 1.4;
        } 
        .prixTotal{
            font-size: 30px;
        } 
        .montant{
            font-size: 25px;
            width: 90%;
            margin: 30px  auto;
            font-weight: 500;
            text-align: center;
            opacity: 60%;
            text-decoration: underline 3px rgb(172, 103, 172);
        } 
        .important{
            color: rgb(187, 41, 41);
            font-weight: 500;
        } 
        .paraVirement{
            margin: 0 15px ;
            padding: 20px 10px;
            font-size: 14px;
            background-color: white;
        } 
        .boxDate{
            width: 90%;
            margin: 20px auto;

        } 
        .ligneDate{
            padding: 10px 20px;
            font-size: 18px;
            font-weight: 400;
            opacity: 60%;
        } 
        .dateString{
            font-size: 14px;
            font-style: italic;
        } */
        .titleDate{
            font-weight: bold;
            opacity: 60%;
            text-decoration: underline;
            font-size: 14px;
            padding-bottom: 5px;
        }
    </style>